body{
    background-color:khaki;
}
div{
    border-style:double;
    border-width:3px;
}
div.spaced{
    margin-left:100px;
    margin-top:50px;
    margin-right:1000px;
/* margin-right and margin-bottom are useless when we have height and width alloted to the box */
}
