div{
    background-color:orange;
    width:200px;
    height:100px;
}
div.skewx{
    transform:skewx(20deg);
}
div.skewy{
    transform:skewy(20deg);
}
div.skew{
    transform:skew(20deg,20deg);
}