body{
    background-color:gold;
}
a.button{
    background-color:red;   
    padding:10px;
    color:white;
    float:left;
    text-decoration:none;
    font-weight:bold;
/* same as a.button:link*/
}
a.button:hover{
    background-color:black;
    color:orange;
}
a.button:active{
    background-color:yellow;
    color:black;
}