body{
    background-color: silver;
    font-weight:bold;
    font-size:40px;
}
ul{
    list-style-image:url('FlatPreloaders/32x32/Preloader_2/Preloader_2.gif');
    padding:30px;
    font-size:30px;
    list-style-position:outside;
}
ul.inside{
    list-style-image:url('FlatPreloaders/32x32/Preloader_2/Preloader_2.gif');
    padding:30px;
    font-size:30px;
    list-style-position:inside;
}