body{
    background-color:#b3b3b3;
}
header,footer{
    background-color:rgb(135, 206, 235);
    text-align:center;
    color:rgb(255, 255, 255);
    margin-right:25px;
    margin-left:10px;
}
h1{
    font-size:50px;
    font-weight:bolder;
}
nav {
    font-size:30px;
}
nav a{
    
    background-color:rgb(255, 255, 255);
    display:inline-block;
    width:300px;
    height:30px;
    box-sizing:border-box;
}
section.half{
    float:left;
    width:500px;
    margin-left:10px;
    margin-right:20px;
    font-size:20px;
}
section.whole{
    clear:both;
    margin-right:25px;
    margin-left:10px;
    font-size:20px;
}
section.whole h2,section.half h2{
    color:grey;
    background-color:rgb(135, 206, 235);
    height:40px;
    font-size:35px;
}
details{
    font-style:italic;
}
details summary{
    font-style:normal;
    font-weight:bolder;
}
footer{
    color:black;
    height:100px;
    text-align:left;
    font-size:22px;
}
footer img{
    width:100px;
    height:25px;
    float:left;
    
}
footer a{
    color:navy;
}
