body{
    font-weight:bolder;
    background-color:#f2fe16e0;
}
div{
    width:100px;
    height:100px;
    padding:15px;
    line-height:70px;
    border-style:solid;
}    
div.round{
    border-radius:15px;
}
div.mix{
    border-top-left-radius: 15px;
    border-top-right-radius:50px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius:4px;
}