body{
    background-color:silver;
}
img{
    float:left;
}
p.clear{
    clear:left;
    /* clear: right; clears elements to the right and both does on both sides and left for left side
}

